<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--Hosting-->

  <add key="ImageHosting" value="http://image.tipstore.vn/"/>
  <!--<add key="ImageHosting" value="http://localhost:1111/"/>-->

  <!--Config-->
  <add key="ItemPerPage" value="10" />

  <!--Email Config-->
  <add key="FromEmailAddress" value="xyz@gmail.com"/>
  <add key="FromEmailPassword" value="abc!"/>
  <add key="FromEmailAliasAddress" value=""/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="EnabledSSL" value="true"/>
  <add key="ToEmailAddress" value="xyza@gmail.com"/>
</appSettings>