<connectionStrings>
  <!--<add name="DatabaseContext" connectionString="Data Source=hellosoft.cycw8nt8asgc.ap-southeast-1.rds.amazonaws.com, 1433;Initial Catalog=g_seller_db;User ID=hellosoft;Password=H3lloSoft.vn" providerName="System.Data.SqlClient" />-->

  <add name="DatabaseContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-F82IT9I;Initial Catalog=go_seller_db;Integrated Security=False;User Id=sa;Password=phuongdam112;MultipleActiveResultSets=True" />
</connectionStrings>